.label-title {
    color: #ff4d4d;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}

.label-term {
    color: #6666ff;
    font-style: italic;
    text-transform: capitalize;
}